body
{
color: #00FF00;
Background-Color:  #707070;
font-size: 22pt;
font-family:Arial
}

h1{color:black; text-align:center; font-style:italic; }
h2{color: #FFFF00 ; text-decoration: underline;text-align:center;}
h3{color:red; font-style:bold;}
ul{list-style-type: none}

p.one{
text-align: center;
background-color: black;
width:900px;
padding: 15px;
border: 25px solid blue;
margin: 35px;}
